<!DOCTYPE html>

<html lang="en" data-bs-theme="dark">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <title>Shoopee</title>

    </head>
    <body>
        <header style="background-color: tomato;padding: 32px;">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                {{if .User.Username}}
                <a class="btn btn-dark me-md-2 btn-sm" href="/"><i class="bi bi-person-circle"></i> {{.User.Username}}</a>
                <a class="btn btn-dark me-md-2 btn-sm" href="/logout">Logout <i class="bi bi-box-arrow-in-right"></i></a>

                {{else}}
                <a class="btn btn-dark me-md-2 btn-sm" href="/login">Login <i class="bi bi-box-arrow-in-right"></i></a>
                <a class="btn btn-dark me-md-2 btn-sm" href="/signup">Signup <i class="bi bi-box-arrow-in-right"></i></a>

                {{end}}
            </div>
            <div class="container">
                <form action="https://shopee.vn/search" method="get" autocomplete="off">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <a href="https://shopee.vn/">
                                <img src="/public/pics/wallhaven-28869x_1920x1080.png" class="img-fluid" width="50" height="50" alt="...">
                            </a>
                        </div>
                        <div class="col">
                            <input autofocus name="q" type="text" class="form-control form-control-lg mx-auto">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-dark" type="submit" ><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </header>
        <div>
            <nav class="navbar bg-body-tertiary">
                <div class="container">
                  <a class="navbar-brand" href="">
                    <div class="col-auto">
                        <a class="btn btn-dark" href=""><i class="bi bi-incognito"></i>-Clothes</a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-dark" href=""><i class="bi bi-bag-heart"></i>-Beauty Appliances</a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-dark" href=""><i class="bi bi-book"></i>-Books</a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-dark" href=""><i class="bi bi-dribbble"></i>-Toys</a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-dark" href=""><i class="bi bi-lamp"></i>-Home Appliances</a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-dark" href=""><i class="bi bi-phone"></i>-Smart Devices</a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-dark" href=""><i class="bi bi-cake"></i>-Foods</a>
                    </div>
                    {{if .User.Username}}
                    <div class="col-auto">
                        <a class="btn btn-info" href="/listing">Create Listing</a>
                    </div>
                    {{end}}
                  </a>
                </div>
            </nav>
        </div> 
        <body>
            <div class="mt-4">
                <div class="container-sm p-0 bg-body-tertiary" style="background-color: blue;">
                    <!-- <div class="row ">
                        <div class="col m ps-0" style="background-color: brown;">
                            <a class="btn btn-dark btn-lg" href=""><i class="bi bi-incognito"></i>-Clothes</a>
                            <a class="btn btn-dark btn-lg" href=""><i class="bi bi-incognito"></i>-Clothes</a>
                        </div>
                        <div class="col ps-0" style="background-color: aquamarine;">
                        </div>
                        <div class="col">
                        Column
                        </div>
                    </div> -->
                    <div class="d-flex flex-row mb-0 justify-content-between">
                        <div class="p-0">
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                                <label class="btn btn-dark btn-lg rounded-0" for="btnradio1">Radio 1</label>
                              
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                                <label class="btn btn-dark btn-lg rounded-0" for="btnradio2">Radio 2</label>
                              </div>                                 
                        </div>
                        
                        <div class="p-1">
                            <div class="dropdown-center">
                                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Sort
                                </button>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="#">Action</a></li>
                                  <li><a class="dropdown-item" href="#">Another action</a></li>
                                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </body>












        <!-- <div class="col-4">
            <a class="btn btn-dark" href="">Popular</a>
            <a class="btn btn-dark" href="">Newly Listed</a>
    </div>
    <div class="col-4">
        <form method="post" enctype="multipart/form-data">
            <div class="col-10">
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" name="price">
                </div>
            </div>
            <div class="col-10">
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" name="price">
                </div>
            </div>
        </form>
    </div> -->